.game-board{
    margin: 25px;
    width: 400px;
    height: 400px;
    /* border: 1px solid #ccc; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:  repeat(3,1fr);;
    grid-gap: 25px;
}
.game-cell{
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.game-cell.is-x{
    color: #2cccff;
}
.game-cell.is-o{
    color:#ff6651 ;
}
.game-reset{
    margin: 25px;
    display: inline-block;
    color: white;
    background-color: #6a5af9;
    font-size: 20px;
    border: none;
    outline: none;
}
.game-winer{
    padding: 25px;
    font-size: 20px;
    color: red;
}
